*~
loader.el
github
snippets
*.elc
elpa
auto-save-list/*
ac-comphist.dat
.mc-lists.el
nrepl-history
cider-history
bookmarks
request
backups
\#*\#
/loader.html
/projectile-bookmarks.eld
/recentf
/smex-items
/eshell
/projectile.cache
/ido.last
/savehist
